* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: auto;
}

.row {
  margin-top: 15px;
  text-align: center;
}

.box {
  position: relative;
  display: inline-block;
}

.box .discount {
  position: absolute;
  right: 0;
  top: 0;
  background-color: green;
}

.box:nth-child(2n) .discount {
  background-color: red;
}

.box .heart {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 10px;
  color: red;
  font-size: 25px;
  display: none;
}

.box:hover .heart {
  display: block;
}
